* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: algerian;
    font-weight: bold;
}

body.dark {
    color: white;
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    line-height: 50px;
}

.container img {
    border-radius: 100%;
}

.btn {
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    background-color: black;
    color: white;;
}
